<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <section
        name="quicklabelSettings"
        type="QuickLabel.Configuration.QuickLabelSection, Quicklabel"
        allowLocation="true"
        allowDefinition="Everywhere"
      />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
    </providers>
  </entityFramework>
  <system.data>
  </system.data>
  <!--<appSettings>
    <add  key="adressenFileName" value="Adressen.csv"/>
    <add  key="containersFileName" value="Containers.csv"/>
    <add  key="aantalContainersFileName" value="AantalContainers.csv"/>
    <add key="AdressenbestandFieldSeparator" value=";"/>
    <add key="ContainerbestandFieldSeparator" value=";"/>
  </appSettings>-->
  <quicklabelSettings>
    <invoer adressenFile="adressen.csv" containersFile="containers.csv" />
    <label>
      <font name="Arial" />
      <color background="000000" foreground="FFFFFF" />
    </label>
    <printerConfig alwaysShowPrintDialog="false" landscape="true"
      printer="DYMO LabelWriter 400" paper="30333 1/2 in x 1 in (2 up)" />
  </quicklabelSettings>

</configuration>